.details-card {

  border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;



  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
    width: 100%;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.67);
}

.movie-poster {
  width: 100%;
    height: 80vh;
    margin-bottom: 1rem;
    position: relative;
    aspect-ratio: 2/3;
}

.movie-poster img {
  width: 100%;
  height: 100%;

}

.details-info {
  padding: 1rem;
  flex: 1;
  display: flex;
  gap: 0.5rem;
    margin-top: 1rem;
    flex-direction: column;
}

.details-info h3 {
  font-size: 1rem;
  margin: 0;
}

.details-info p {
  color: #999;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .details-card {
    font-size: 0.9rem;
  }

  .details-info {
    padding: 0.75rem;
  }
}