.details-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
    width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.67);
}

.movie-poster {
  width: 100%;
    height: 80vh;
    position: relative;
    aspect-ratio: 2/3;
}

.movie-poster img {
  width: 100%;
  height: 100%;

}

.details-info {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  gap: 1rem;
    flex-direction: unset;
  background-color: rgba(15, 116, 119, 0.15);
  opacity: 100%;
}

.details-info h2 {
  font-size: 2rem;
  margin: 0;
}

.details-info h3 {
  font-size: 1rem;
  margin: 0;
}

.details-info p {
  color: #999;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .details-card {
    font-size: 0.9rem;
  }

  .details-info {
    padding: 0.75rem;
  }
}