.details-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
    width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.67);
  border-radius: 1rem;
}

.movie-poster {
  width: 100%;
    height: 60vh;
    position: relative;
    aspect-ratio: 2/3;
}

.movie-poster img {
  width: 100%;
  height: 100%;

}

.details-info {
  padding: 6rem;
  flex: 1;
  display: flex;
  gap: 1rem;
    flex-direction: column;
  background-color: rgba(0, 0, 0, 0.37);
  opacity: 100%;
}

.details-info h2 {
  font-size: 5rem;
  margin: 0;
  color: #f8c928;
}

.details-info h3 {
  font-size: 1rem;
  margin: 0;
  color: #f8c928;
}

.details-info p {
  color: #c3c3c3;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .details-card {
    font-size: 0.9rem;
  }

  .details-info {
    padding: 0.75rem;
  }
}